MYSQL_DATABASE=readle
MYSQL_USER=readleuser
MYSQL_PASSWORD=readle_local_password
MYSQL_ROOT_PASSWORD=readle_local_root_password

AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=ap-northeast-2
S3_BUCKET=readle-local
S3_ENDPOINT=http://localhost:4566

FRONTEND_ORIGIN=http://localhost:3000
FRONTEND_ORIGIN_ALT=http://127.0.0.1:3000

SPRING_DATASOURCE_DRIVER_CLASS_NAME=com.mysql.cj.jdbc.Driver
SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE=5
SPRING_DATASOURCE_HIKARI_MINIMUM_IDLE=1

CLAUDE_API_KEY=your_claude_api_key_here
